In [31]:
import lancedb
import pandas as pd
import pyarrow as pa

In [32]:
file_path = r"C:\Lee\work\contract\csv\v3\contract_data.csv"
df = pd.read_csv(file_path)

In [33]:
db = lancedb.connect(r"C:\Lee\work\contract\csv\v3\contract_full_lancedb")  # 指定数据库目录，不存在会自动创建

In [34]:
schema = pa.schema([
    pa.field("meta_vector", pa.list_(pa.float32(),4096)),
    pa.field("doc", pa.utf8()),
    pa.field("contract_meta", pa.utf8()),
    pa.field("contact_no", pa.utf8()),
    pa.field("project_name", pa.utf8()),
    pa.field("subitem_name", pa.utf8()),
    pa.field("total_price", pa.float32()),
    pa.field("total_price_str", pa.utf8()),
    pa.field("date", pa.utf8()),
    pa.field("supplier", pa.utf8()),
    pa.field("equipment_table", pa.utf8()),
    pa.field("equipments_vector", pa.list_(pa.float32(),4096)),
])

In [35]:
table = db.create_table("contract_table", schema=schema,mode="overwrite")

In [36]:
df['total_price'] = pd.to_numeric(df['total_price'], errors='coerce').astype('float32')
# 其它字段转为字符串
str_columns = [
    'contract_meta','doc', 'contact_no', 'project_name', 'subitem_name',
    'total_price_str', 'supplier', 'equipment_table', 'date'
]
for col in str_columns:
    df[col] = df[col].astype(str)

In [37]:
dict_list = df.to_dict(orient='records')

In [38]:
table.add(dict_list)

AddResult(version=8)

In [45]:
db = lancedb.connect(r"C:\Lee\work\contract\csv\v3\contract_full_lancedb") 
table = db.open_table("contract_table")

In [46]:
query='揭阳'
num_documents=5
search_like_results = table.search().where(f"doc LIKE '%{query}%'").limit(num_documents).to_pandas()

In [47]:
search_like_results

Empty DataFrame
Columns: [meta_vector, doc, contract_meta, contact_no, project_name, subitem_name, total_price, total_price_str, date, supplier, equipment_table, equipments_vector]
Index: []